* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #55174b;
  overflow: hidden;
}

header {
  background-color: #97057f;
  color: white;
  text-align: center;
  padding: 20px;
}

main {
  padding: 20px;
}

canvas {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  cursor: url(recursps/Lapiz-a5f99a57.png);
  position: relative; 
}

#paleta {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

footer {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.burbujas {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.burbuja {
  background: #fff;
  opacity: .3;
  border-radius: 50%;
  position: absolute;
  animation: burbujas 10s linear infinite;
}

.burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
}

.burbuja:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 55%;
  animation-duration: 4s;
}
.burbuja:nth-child(3){
  width:125px;
  height: 125px;
  left: 35%;
  animation-duration:5s ;
}
.burbuja:nth-child(4){
  width:99px;
  height: 99px;
  left: 14%;
  animation-duration:3s ;
}
.burbuja:nth-child(5){
  width:124px;
  height: 124px;
  left: 25%;
  animation-duration:7s ;
}
.burbuja:nth-child(6){
  width:150px;
  height: 150px;
  left: 66%;
  animation-duration:2s ;
}
.burbuja:nth-child(7){
  width:111px;
  height: 111px;
  left: 75%;
  animation-duration:4s ;
}
.burbuja:nth-child(8){
  width:87px;
  height: 87px;
  left: 85%;
  animation-duration:6s ;
}
.burbuja:nth-child(9){
  width:150px;
  height: 150px;
  left: 45%;
  animation-duration:3s ;
}
.burbuja:nth-child(10){
  width:150px;
  height: 150px;
  left: 90%;
  animation-duration:5s ;
}
@keyframes burbujas {
  0% {
      transform: translateY(10vh); /* Comienza desde la parte inferior de la pantalla */
      opacity: 0;
  }
  30% {
      transform: translateY(60vh); /* Se mueve hacia arriba */
      opacity: 0.3;
  }
  100% {
      transform: translateY(-10vh); /* Termina más arriba */
      opacity: 0;
  }
}